.App-footer {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(8px + 1vmin);
    color: white;
}

.social-media {
    display: inline-flex;
    justify-content: space-evenly;
    width: 60vmin;
}
.social-media-logo {
    height: 10vmin;
    padding: 0vmin;
}
